.item {
	width: 380px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.item img {
	width: 90%;
}
.item p {
	font-weight: 600;
	padding-left: 0.6rem;
	margin: 6px 0px;
}
.item-prices {
	gap: 20px;
	width: 100%;
}
.item-price-new .price {
	display: inline;
	justify-self: center;
	align-self: center;
}
.item-price-new {
	padding: 0 0.6rem 1rem 0.6rem;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	color: #374151;
	font-size: 1rem;
	font-weight: 600;
	justify-content: space-between;
}
.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	width: 7rem;
	height: 30px;
	border-radius: 75px;

	background: #ff4141;
	color: white;
	font-size: 1rem;
	font-weight: 500;
	cursor: pointer;
}
.item-price-old {
	color: #8c8c8c;
	font-size: 18px;
	font-weight: 500;
	text-decoration: line-through;
}
.item:hover {
	transform: scale(1.05);
	transition: 0.6s;
}
@media (max-width: 1280px) {
	.item {
		width: 220px;
		font-size: 14px;
	}
	.item img {
		width: 220px;
	}
	.item-price-old {
		font-size: 14px;
	}
}
@media (max-width: 1024px) {
	.item {
		width: 170px;
		font-size: 13px;
	}
	.item img {
		width: 170px;
	}
	.item-price-old {
		font-size: 13px;
	}
}
@media (max-width: 800px) {
	.item {
		width: 120px;
		font-size: 12px;
	}
	.item img {
		width: 120px;
	}
	.item-price-old {
		font-size: 12px;
	}
}
@media (max-width: 500px) {
	.item {
		width: 160px;
	}
	.item img {
		width: 160px;
	}
}
