.about-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.about-content {
	max-width: 800px;
	padding: 20px;
	background-color: #f9f9f9;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-content h1 {
	font-size: 32px;
	margin-bottom: 20px;
}

.about-content p {
	font-size: 18px;
	line-height: 1.6;
	margin-bottom: 15px;
}
